<%- include("header");  -%>

<h2>
    About Page
</h2>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mollis et felis in dapibus. Suspendisse elit turpis, fermentum eget mollis vitae, fringilla quis eros. Maecenas ullamcorper ipsum quis felis rhoncus, eu finibus nunc vulputate. Maecenas a elit nibh. Vestibulum id massa at ipsum commodo dapibus. Etiam molestie consequat convallis. Pellentesque fermentum commodo lectus, id euismod arcu vehicula ut. Donec feugiat nec risus sit amet convallis. Curabitur gravida cursus sem sit amet lacinia. Integer ornare, mi ac faucibus aliquam, risus ipsum bibendum leo, sed auctor ligula arcu a justo. Ut fringilla, purus in tempor cursus, risus justo placerat turpis, sit amet volutpat diam quam non magna. Vivamus mollis mauris ac diam dignissim venenatis. Donec a turpis nisi. Maecenas at dui ac neque gravida pharetra in vitae purus. Aenean ornare purus ut justo dignissim, vitae hendrerit libero viverra. Maecenas ultricies lacus ac elit pellentesque tincidunt.
</p>

<%- include("footer");  -%>